*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea
gradle/
gradlew
gradlew.bat
settings.gradle
build.gradle
gradle.properties
app/build.gradle
app/build/
app/proguard-rules.pro
